:root {
  --homeSectionBg: red;

  /* Desktop Fonts*/
  --Title-font-weight: 500;
  --Subtitle-font-weight: 500;

  --Title-font-size-xs: 36px;
  --Title-font-size-sm: 48px;
  --Title-font-size-md: 75px;
  --Title-font-size-lg: 100px;

  --Subtitle-font-size-xs: 20px;
  --Subtitle-font-size-sm: 22px;
  --Subtitle-font-size-md: 27px;
  --Subtitle-font-size-lg: 30px;

}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 400px;
  ::-webkit-scrollbar {
    width: 0;
  }
}