:root {
  --homeSectionBg: red;

  /* Fonts */
  --Title-font-weight: 500;
  --Subtitle-font-weight: 500;

  --Title-font-size-xs: 28px;
  --Title-font-size-sm: 40px;
  --Title-font-size-md: 69px;
  --Title-font-size-lg: 90px;

  --Subtitle-font-size-xs: 20px;
  --Subtitle-font-size-sm: 22px;
  --Subtitle-font-size-md: 25px;
  --Subtitle-font-size-lg: 30px;

    /* Cards Fonts */
  --CardTitle-font-size-xs: 20px;
  --CardTitle-font-size-md: 25px;
  --CardTitle-font-size-lg: 28px;

  --CardSubtitle-font-size-xs: 12px;
  --CardSubtitle-font-size-md: 15px;
  --CardSubtitle-font-size-lg: 18px;

  --CardDate-font-size-xs: 10px;
  --CardDate-font-size-md: 13px;
  --CardDate-font-size-lg: 14px;

 /*  colors */
 --colors-bg-gradient: linear-gradient(90deg, #C4FF41 0%, #B3FFE4 100%);
 --colors-green: #C4FF41;
 --colors-lightBlue: #B3FFE4;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a.active {
  font-weight: 600;
}
body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 320px;
  ::-webkit-scrollbar {
    width: 0;
    overflow-x: hidden;
  }
}